{% extends 'base.html' %}

{% block content %}
<div class="homepageCnt">
    <br><br>
<h2>Welcome to Dev Vault.</h2>
</div>
<h4 class="whatQ">What is dev vault?</h4> 
<p>Dev vault is a simple tools made for programmers to plan their workflow and improve their efficiency by adding projects to do them later. Dev vault provide to add different level to projects, edit them and delete them after completion</p>
<p>Dev vault is just relesed and will have many updates in future. Hope you enjoy the app :)</p>

{% endblock %}